.footer {
    overflow: hidden;
    background-color: #c71818;
    padding: 20px 10px;
  }
  .footer a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  .footer a:hover {
    background-color: #ddd;
    color: black;
  }
  .footer a.active {
    background-color: dodgerblue;
    color: white;
  }