<div id="glavniSadrzaj">
    <table>
        <tr>
            <th>Number</th>
            <th>Name and Surname</th>
            <th>Age</th>
            <th>Role</th>
            
        </tr>
        <tr>
            <td>1</td>
            <td>Faris Bektas</td>
            <td>21</td>
            <td>Angular Developer</td>
            
        </tr>
        <tr>
            <td>2</td>
            <td>Sait Kaya</td>
            <td>24?</td>
            <td>Backend Developer</td>
            
        </tr>
        <tr>
            <td>3</td>
            <td>Senad Osmic</td>
            <td>23</td>
            <td>Angular Developer</td>
            
        </tr>
        <tr>
            <td>4</td>
            <td>Sead Halilagic</td>
            <td>35</td>
            <td>Flutter Developer</td>
            
        </tr>
        <tr>
            <td>5</td>
            <td>Elmedin Seta</td>
            <td>20</td>
            <td>Python Developer</td>
            
        </tr>
    </table>
</div>

