<h1>Blog Title 1</h1>
<p>If you dont want anything to happen press here:</p><a href="localhost:54208" class="logo">Press me:(</a>
<br>
<p>
    If u want to check out my linkedin profile: <a href="www.linkedin/bektafa">LinkedIn</a>.
 </p>

<br>
<br>
<h1>Blog Title 2</h1>
<p>If you dont want anything to happen press here:</p><a href="localhost:54208" class="logo">Press me:(</a>
<br>
<p>
    If u want to check out my linkedin profile: <a href="www.linkedin/bektafa">LinkedIn</a>.
 </p>
 <br>
<br>
<h1>Blog Title 3</h1>
<p>If you dont want anything to happen press here:</p><a href="localhost:54208" class="logo">Press me:(</a>
<br>
<p>
    If u want to check out my linkedin profile: <a href="www.linkedin/bektafa">LinkedIn</a>.
 </p>